@import "tailwindcss";

@theme {
    --color-brand-50: #eef7f3;
    --color-brand-100: #d6ede3;
    --color-brand-200: #addbc7;
    --color-brand-300: #7fc5a6;
    --color-brand-400: #4faa84;
    --color-brand-500: #2A7956; /* основной */
    --color-brand-600: #246b4c;
    --color-brand-700: #1e5a40;
    --color-brand-800: #194a35;
    --color-brand-900: #133b2b;

    --color-mygray: #EDEDED;
    --color-mygray-hovered: #DEDEDE;
}